body {
    margin: 20px;
    background-color: darkslategray;
}

#animBackground {
    z-index: 5;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    background: red;
    width: 100vw;
    height: 300vh;
    transition: width 3s;
}

h1, h3 {
    font-family: 'Bubblegum Sans', sans-serif;
    color: black;
}

div {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}


.head {
    margin-right: 10%;
    margin-left: 10%;
    padding: 0px;
    background-color: tomato;
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: -1;
}


a {
    color: white;
}

#cycleText {
    padding: 10px;
    color: white;
    font-size: 24px;
}

@media(min-width: 600px) {
    img {
        width: 65%;
        padding: 10px;
    }
    p {
        padding-bottom: 10px;
        margin-right: 20%;
        margin-left: 20%;
        font-size: 15px;
        font-family: 'Nunito', sans-serif;
        line-height: 1.5;
        color: white;
    }
    #d3-container {
        position: relative;
        display: flex;
        justify-content: center;
        background-color: whitesmoke;
        margin-left: 20%;
        margin-right: 20%;
        padding-bottom: 0;
    }
    #D3_Barchart{
        visibility: hidden;
        position:absolute;
        z-index:1;
    }
}


@media(max-width: 450px) {
    img {
        width: 98%;
        padding: 5px;
    }
    p {
        padding-bottom: 5px;
        margin-right: 10px;
        margin-left: 10px;
        font-size: 12px;
        font-family: 'Nunito', sans-serif;
        line-height: 1.5;
        color: white;
    }
    #d3-container {
        visibility: hidden;
    }
    #D3_Barchart{
        width: 98%;
        padding: 5px;
        position:relative;
        z-index:1;
    }
}

.bar {
    fill: rgb(231, 43, 43);
}


.axis-text {
    font-size: 12px;
}

.bar:hover {
    fill: rgb(229, 152, 149);
}